<script>
    document.querySelector(".nav-button").addEventListener("click",function(){
        document.querySelector(".add-popup").style.display = "flex";
        document.querySelector(".black").style.display = "block";
    });
    document.querySelector(".cross-button").addEventListener("click",()=>{
        document.querySelector(".add-popup").style.display = "none";
        document.querySelector(".black").style.display = "none";
    });
</script>
</body>
</html>