<%- include("header") -%>
    <header class="nav">
        <img src="img/salosh-logo.png" class="logo">
        <button class="nav-about-us" href="/about-us">About Us</button>
        <button class="nav-button">Login</button>
	</header>
	<div class="slider-container">
		<div id="slider">
			<figure>
				<img src="img/img1.jpg">
				<img src="img/img2.jpg">
				<img src="img/img1.jpg">
				<img src="img/demo.jpg">
				<img src="img/img1.jpg">
			</figure>
		</div>
	</div>

	<div class="first-heading">
		<h1>FILLING THE GAP</h1>
		<span>Between where you are and where you want to Be</span>
	</div>

	<div class="iframe-flex-container">
		<div class="iframe-container">
			<iframe id="ytplayer" type="text/html" width="720" height="405"
			src="https://www.youtube.com/embed/nuEpNchGQ2Y?autoplay=1&mute=1&controls=0&disablekb=1&fs=0&loop=1&modestbranding=1"
			frameborder="0" allowfullscreen></iframe>
		</div>
	</div>

	<div class="services-container">
		<div class="services-heading">
			<h1>SALOSH</h1>
			<h2>FEATURES</h2>
		</div>
		<div class="services-horizontal-flexbox">
			<div class="services-vertical-flexbox">
				<div class="service-img">
					<img src="img/dance-logo.jpg">
				</div>
			</div>
			<div class="services-vertical-flexbox">
				<div class="service-img">
					<img src="img/dance-logo.jpg">
				</div>
			</div>
			<div class="services-vertical-flexbox">
				<div class="service-img">
					<img src="img/dance-logo.jpg">
				</div>
			</div>
		</div>
	</div>
							<!-- platform features -->

	<div class="features-container">
		<div class="features-heading">
			<h1>Platform Features</h1>
		</div>
		<div class="features-box">
			<div class="single-feature">
				<div class="single-feature-left">
					<i class="fas fa-camera-retro fa-5x"></i>
				</div>
				<div class="single-feature-right">
					<h4>Lorem Ipsum</h4>
					<p>lipsum is dummy text used in laying out print, graphic or web designs.</p>
				</div>
			</div>
			<div class="single-feature">
				<div class="single-feature-left">
					<i class="fas fa-camera-retro fa-5x"></i>
				</div>
				<div class="single-feature-right">
					<h4>Lorem Ipsum</h4>
					<p>lipsum is dummy text used in laying out print, graphic or web designs.</p>
				</div>
			</div><div class="single-feature">
				<div class="single-feature-left">
					<i class="fas fa-camera-retro fa-5x"></i>
				</div>
				<div class="single-feature-right">
					<h4>Lorem Ipsum</h4>
					<p>lipsum is dummy text used in laying out print, graphic or web designs.</p>
				</div>
			</div><div class="single-feature">
				<div class="single-feature-left">
					<i class="fas fa-camera-retro fa-5x"></i>
				</div>
				<div class="single-feature-right">
					<h4>Lorem Ipsum</h4>
					<p>lipsum is dummy text used in laying out print, graphic or web designs.</p>
				</div>
			</div><div class="single-feature">
				<div class="single-feature-left">
					<i class="fas fa-camera-retro fa-5x"></i>
				</div>
				<div class="single-feature-right">
					<h4>Lorem Ipsum</h4>
					<p>lipsum is dummy text used in laying out print, graphic or web designs.</p>
				</div>
			</div><div class="single-feature">
				<div class="single-feature-left">
					<i class="fas fa-camera-retro fa-5x"></i>
				</div>
				<div class="single-feature-right">
					<h4>Lorem Ipsum</h4>
					<p>lipsum is dummy text used in laying out print, graphic or web designs.</p>
				</div>
			</div>
		</div>
	</div>

							<!-- platform features -->	

							<!-- contact us -->

	<div class="contact-form-container">
		<div class="contact-form-heading">
			<h1>Contact Us</h1>
		</div>
		<div class="contact-form">
			<form action="/" method="post">
				<input type="text" class="form-inputs block-center" name="contact-name" placeholder="Name" required>
				<input type="text" class="form-inputs" name="contact-number" placeholder="Phone" required>
				<input type="email" class="form-inputs" name="contact-email" placeholder="Email" required>
				<textarea class="form-inputs block-center" id="form-area" name="project" placeholder="whats your query?" cols="30" rows="10"></textarea>
			</form>
		</div>
	</div>

							<!-- contact us -->

	<footer>
		<div class="footer-column-1">
			<div class="page-link-container">
				<a href="/faqs" data-id="faqs">FAQs</a>
				<a href="/aboutus" data-id="aboutus">About Us</a>
				<a href="/termsofuse" data-id="termsofuse">Terms of Use</a>
				<a href="/privacypolicy" data-id="privacypolicy">Privacy Policy</a>
			</div>		
		</div>
		<div class="footer-column-2">
				<div class="trade-mark-container">
					<span>© 2020 Salosh&#8482</span>
				</div>
				<div class="social-links-container">
					<a href="facebook.com"><img src="img/fb-icon.png"></a>
					<a href="youtube.com"><img src="img/yt-icon.png"></a>
					<a href="instagram.com"><img src="img/ig-icon.png"></a>
				</div>
		</div>
	</footer>

	
<%- include("footer") -%>
